In [1]:
import pandas as pd
type(pd)

import sys
print(sys.path)

['C:\\Users\\nikhil\\Documents\\GitHub\\jupyter\\Data Analysis(kaggle)', 'C:\\Users\\nikhil\\anaconda3\\python38.zip', 'C:\\Users\\nikhil\\anaconda3\\DLLs', 'C:\\Users\\nikhil\\anaconda3\\lib', 'C:\\Users\\nikhil\\anaconda3', '', 'C:\\Users\\nikhil\\AppData\\Roaming\\Python\\Python38\\site-packages', 'C:\\Users\\nikhil\\anaconda3\\lib\\site-packages', 'C:\\Users\\nikhil\\anaconda3\\lib\\site-packages\\win32', 'C:\\Users\\nikhil\\anaconda3\\lib\\site-packages\\win32\\lib', 'C:\\Users\\nikhil\\anaconda3\\lib\\site-packages\\Pythonwin', 'C:\\Users\\nikhil\\anaconda3\\lib\\site-packages\\IPython\\extensions', 'C:\\Users\\nikhil\\.ipython']

In [2]:
import matplotlib.pylab as plt
store = pd.read_csv("./data/US_store.csv", encoding='unicode_escape')

In [3]:
store.head()
store.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   object
 3   Ship Date      9994 non-null   object
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: float64(3), int64(3), object(15)
memory usage: 1.6+ MB

In [4]:
''' selection Data '''

st1 = store.iloc[0:, [2, 17, 18]]
subc_quantity = store.iloc[0:, [15, 18]]
subc_profit = store.iloc[0:, [15, 20]]
st2 = st1.dropna()
''' months vs subcatagory '''
st3 = store.iloc[0:, [2, 15, 17, 18]]

In [5]:
subc_profit = subc_profit.groupby(['Sub-Category']).agg({"Profit": sum})
subc_profit = subc_profit.sort_values(by='Profit', ascending=False)
subc_profit.reset_index(inplace=True)
subc_profit

   Sub-Category      Profit
0       Copiers  55617.8249
1        Phones  44515.7306
2   Accessories  41936.6357
3         Paper  34053.5693
4       Binders  30221.7633
5        Chairs  26590.1663
6       Storage  21278.8264
7    Appliances  18138.0054
8   Furnishings  13059.1436
9     Envelopes   6964.1767
10          Art   6527.7870
11       Labels   5546.2540
12     Machines   3384.7569
13    Fasteners    949.5182
14     Supplies  -1189.0995
15    Bookcases  -3472.5560
16       Tables -17725.4811

In [6]:
'''quantity wise decending sorting '''

subc_quantity = subc_quantity.groupby(['Sub-Category']).agg({"Quantity": sum})
subc_quantity = subc_quantity.sort_values(by='Quantity', ascending=False)
subc_quantity.reset_index(inplace=True)

In [7]:
'''converting order date into date'''

# st2['total']=st1['Sales']*st1['Quantity']
# st2['M2']=st2['Order Date'].str.split('/',n=-1)[0][0]
# st2["M2"]=st2["M2"].astype(int)

'converting order date into date'

In [8]:
'''converting order date into date'''

st2['Order Date'] = pd.to_datetime(st2['Order Date'])
st2['M'] = pd.DatetimeIndex(st2['Order Date']).month
st2['Y'] = pd.DatetimeIndex(st2['Order Date']).year
final = st2.groupby(['Y', 'M']).agg({"Quantity": sum})
final.reset_index(inplace=True)

In [9]:
'''filtering Data year'''
x1 = final[(final['Y'] == 2014)]
x2 = final[(final['Y'] == 2015)]
x3 = final[(final['Y'] == 2016)]
x4 = final[(final['Y'] == 2017)]
x4

       Y   M  Quantity
36  2017   1       923
37  2017   2       895
38  2017   3      1138
39  2017   4       803
40  2017   5       892
41  2017   6       879
42  2017   7       898
43  2017   8       981
44  2017   9      1382
45  2017  10       991
46  2017  11      1509
47  2017  12      1185

In [10]:
%matplotlib qt

In [11]:
''' ploting '''
''' total quantity of monthly (year) vs month Name '''
w = 0.2
month_lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
plt.bar(month_lst, x1["Quantity"], label=2014, width=w, color="g")
plt.bar([x + 0.2 for x in month_lst],
        x2["Quantity"],
        label=2015,
        width=w,
        color="purple")
plt.bar([x + 0.4 for x in month_lst],
        x3["Quantity"],
        label=2016,
        width=w,
        color="b")
plt.bar([x + 0.6 for x in month_lst],
        x4["Quantity"],
        label=2017,
        width=w,
        color="orange")
plt.legend([2014, 2015, 2016, 2017])
plt.xlabel("Month")

plt.xticks(month_lst)
plt.ylabel("Quntity")

Text(0, 0.5, 'Quntity')

In [12]:
''' ploting subc_quantity'''
plt.figure()
plt.plot(subc_quantity['Sub-Category'], subc_quantity['Quantity'])
plt.xlabel('Sub-Category')
plt.ylabel("Quntity")
plt.xticks(rotation=70)

([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16],
 [Text(0, 0, ''),
  Text(0, 0, ''),
  Text(0, 0, ''),
  Text(0, 0, ''),
  Text(0, 0, ''),
  Text(0, 0, ''),
  Text(0, 0, ''),
  Text(0, 0, ''),
  Text(0, 0, ''),
  Text(0, 0, ''),
  Text(0, 0, ''),
  Text(0, 0, ''),
  Text(0, 0, ''),
  Text(0, 0, ''),
  Text(0, 0, ''),
  Text(0, 0, ''),
  Text(0, 0, '')])

In [13]:
''' ploting subc_profit'''
plt.figure()
plt.plot(subc_profit['Sub-Category'], subc_profit['Profit'])
plt.xlabel('Sub-Category')
plt.ylabel('Profit')
plt.xticks(rotation=70)
# subc_profit.plot.bar('Sub-Category','Profit')

([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16],
 [Text(0, 0, ''),
  Text(0, 0, ''),
  Text(0, 0, ''),
  Text(0, 0, ''),
  Text(0, 0, ''),
  Text(0, 0, ''),
  Text(0, 0, ''),
  Text(0, 0, ''),
  Text(0, 0, ''),
  Text(0, 0, ''),
  Text(0, 0, ''),
  Text(0, 0, ''),
  Text(0, 0, ''),
  Text(0, 0, ''),
  Text(0, 0, ''),
  Text(0, 0, ''),
  Text(0, 0, '')])

#summry step:
<!-- 
step1:import file adding the encoding =unicode_escape or engine='%%python'
step2:clean data
step3:selcete your data appropriate  coloumn
step4:select your data with iloc beacause maybe here column name space
step5:conversion your column appropriate  data type
step6:manuplating your data(e.g grouping apply filter,ascending)
step7:plot your data with appropriate plot (e.g histogram,scatter)
      Note:check x and y size equal -->

In [14]:
''' monthly subcatgory vs quantity 2014 year '''

' monthly subcatgory vs quantity 2014 year '

In [15]:
# st3=st3.dropna()
# st3
# f=st3.loc[:,['Sub-Category','Sales','Quantity','M','Y']]
# f

In [16]:
def month_stdq_year(year):
    st3 = store.iloc[0:, [2, 15, 17, 18]]
    st3['Order Date'] = pd.to_datetime(st3['Order Date'])
    st3['M'] = pd.DatetimeIndex(st3['Order Date']).month
    st3['Y'] = pd.DatetimeIndex(st3['Order Date']).year
    st3['Y'] = st3['Y'].astype(int)
    st3 = st3.loc[:, ['Sub-Category', 'Sales', 'Quantity', 'M', 'Y']]
    f = st3[st3['Y'] == year]

    final = f.groupby(['Sub-Category', 'M']).agg({
        "Quantity": sum,
        'Sales': 'mean'
    })

    final.reset_index(inplace=True)
    final = final[['Sub-Category', 'M', "Quantity", 'Sales']]

    m = list(final['Sub-Category'].unique())
    x = []
    l1 = []
    l2 = []
    fio = 0

    for i in m:
        fio = final[(final['Sub-Category'] == i)]
        x.append(fio['Quantity'].std() * fio['Sales'].mean())

    l1, l2 = zip(*sorted(zip(x, m)))
    plt.figure()
    plt.title(str(year))
    plt.bar(list(l2), list(l1))
    plt.xticks(rotation=90)
    #             plt.legend(str(year),fontsize="xx-small",loc=2)
    plt.xlabel("Things")
    plt.ylabel("losses of quantity ")
    plt.xticks(m)

In [17]:
list1 = [2014, 2015, 2016, 2017]
for i in list1:
    month_stdq_year(i)